<style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=:wght@500&display=swap" rel="stylesheet">
<style>

	body {
		background: #fff;
		font-family: 'Lato', 'Ubuntu', sans-serif;
	}

	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}


	.morgan {
		width: 100%;
	}

	.main {
		display: flex;
		justify-content: space-between;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.adtab {
		display: flex;
		justify-content: space-between;

	}

	.address {
		color: rgb(110, 107, 107);
		padding-bottom: 25px;
	}

	.add {
		font-weight: bold;
		text-transform: uppercase;
		font-size: 18px;
		color: black;
	}

	.tele {
		display: flex;
	}

	.tel {
		padding-right: 2px;
	}

	.head {
		font-weight: bold;
		font-size: 20px;
		color: black;
	}
  
  .align-center{
   	text-align: center 
  }
  
  .align-right{
   	text-align: right 
  }

	/* table 1 */
	table {
		width: 100%;
		margin-bottom: 30px;
		border-collapse: collapse;
	}

	td {
		padding-left: 10px;
    padding-right: 10px;
	}

	.td1 {
		text-align: end;
    font-weight: bold
	}

	.quotation {
		display: flex;
		color: rgb(110, 107, 107);
		padding-bottom: 25px;
	}

	.pre {
		font-size: 18px;
		padding-right: 10px;
	}



	.table {
		margin-bottom: 30px;
		border-collapse: collapse;
	}

	.th {
		background-color: black;
		color: white;
		padding-top: 3px;
		padding-bottom: 3px;
		text-align: start;
		padding-left: 20px;
		border: 2px solid black;
		text-transform: uppercase;
	}

	.td {
		height: 40px;
		border: 2px solid #e8e8e8;
	}

	.td2 {
		background-color: #e8e8e8;
	}



	.table3 {
		width: 35%;
		margin-right: 40px;
		border-collapse: collapse;
		float: right;
		font-size: 17px;
	}

	.td3 {
		text-align: left;
		font-weight: bolder;
	}

	.td5 {
		height: 40px;
		border: none;
	}

	.condition {
		text-transform: uppercase;
		font-weight: bold;

	}

	.points {
		color: grey;

	}

	.accept {
		font-size: 17px;
		color: gray;
		padding-left: 4rem;
    padding-top: 80px;
	}

	.des {
		display: flex;
		justify-content: center;
	}

	.question {
		text-align: center;
		padding: 20px 0px;
		color: gray;
	}

	.john {
		padding-right: 10px;
	}

	footer {
		text-transform: uppercase;
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		padding-top: 30px;
		padding-bottom: 30px;
	}
</style>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>


<div class="prow">&nbsp;</div>
<table style="border-collapse: collapse; width: 100%;" border="0">
<tbody>
<tr>
<td style="width: 28.9566%; vertical-align: middle;">
<p style="text-align: left; line-height: 1;"><span style="font-family: Ubuntu; font-size: 20pt; text-align: center; color: #34495e;"><strong>FRIS Requisition Report</strong></span></p>

{{!-- <p style="line-height: 1; text-align: left;"><span style="font-family: Lato;"><span style="text-align: center;">{{website | render_qrcode(style='width: 40px;height:40px;background: white;')}}</span></span></p> --}}
<p style="text-align: left; line-height: 1;"><span style="font-family: Montserrat; font-size: 10pt; text-align: start;"><span style="font-family: Lato;"><span style="text-align: center;"><span style="text-align: start;">https://www.firstregistrarsnigeria.com/</span></span></span></span></p>
</td>
<td style="width: 44.4206%; vertical-align: top;">
<p><span style="font-family: Lato; text-align: center;"><img style="display: block; margin-left: auto; margin-right: auto;" src="https://i.ibb.co/fGz0Ss1/download-1.png" alt="" width="200" height="74" /><br /></span></p>
{{!-- <p style="text-align: center; line-height: 1;"><span style="font-family: Montserrat; font-size: 10pt; text-align: start;">{{company}}</span></p> --}}
<p style="text-align: center; line-height: 1;"><span style="font-family: Montserrat; font-size: 10pt; text-align: start;"><span style="font-family: Lato;"><strong>E-MAIL:</strong> info@firstregistrarsnigeria.com &nbsp;</span></span></p>
</td>
<td style="width: 2.74%; right:- 90px; vertical-align: top;">
<p style="text-align: right; "><span style="font-family: Lato; font-size: 10pt;"><strong>TRACKING NO </p>
<img  style="text-align: right; " src='data:image/png;base64,{{barcode}}' />
{{!-- <p style="text-align: right;"><span style="font-family: Lato;">{{document_id | render_barcode(type='code128', style='height: 80px;')}}</span></p> --}}

</td>
</tr>
</tbody>
</table>



<div class="morgan">

        <div class="address">
            {{!-- <div style="float: left">
                <div class="add">Address:</div>
                {{!-- <div>{{sender_company_name}}:</div>
                <div>{{sender_street_adress}}</div>
                <div>{{sender_tate_adress}}</div> --}}
                {{!-- <div class="tele"> --}}
                    {{!-- <div class="tel">Tel:</div>
                    {{!-- <div>{{sender_telephone}}</div> --}}
                {{!-- </div> --}}
            {{!-- </div> --}} 
            <div style="float: right">
                <table>
                    <tr>
                        <td class="td1">Report Date: </td>
                    <td> {{now}}</td> 
                    </tr>
                    <tr>
                        <td class="td1">Quote No: </td>
                        {{!-- <td>{{quote_no}}</td> --}}
                    </tr>
                    <tr>
                        <td class="td1">Expiration Date: </td>
                        {{!-- <td> {{quote_exp}}</td> --}}
                    </tr>
                </table>
            </div>
        </div>

    

        <div class="quotation">
            {{!-- <div class="pre">
                Quotation Prepared by:
            </div>
            <div class="line" style="margin-top: 10px;">
                ___________________
            </div> --}}
        </div>

        {{!-- <table class="table">
            <tr>
                <th class="th align-center">Items</th>
                <th class="th align-center">Specification</th>
                <th class="th align-center">Unit price</th>
                <th class="th align-center">Quantity</th>
                <th class="th align-center">Amount</th>
            </tr>
          
            <tr>
                {{!-- <td class="td align-center">{{loop.index}}</td>
                <td class="td">{{item.item_name}}</td>
                <td class="td align-right">${{'%0.2f' %item.unit_price}}</td>
                <td class="td align-center">{{item.unit}}</td>
                <td class="td td2 align-right">${{'%0.2f' % (item.unit_price * item.unit)}}</td> --}}
            {{!-- </tr>
        --}}

            {{!-- <tr>
                <td colspan="3" class="td5">
                    <div class="condition">
                        terms and conditions:
                    </div>
                </td>
                <td class="td td3">Sub Total</td>
                {{!-- <td class="td td2 align-right">${{'%0.2f' %(items | sum(attribute='total')) }}</td> --}}
            {{!-- </tr> --}}
            {{!-- <tr>
                <td colspan="3" class="td5">
                    <div class="points">
                        <!-- terms and condition 1 -->
                      {{!-- <small>1. {{terms1}}</small><br> --}}
                      
                    {{!-- </div> --}}
                {{!-- </td> --}}
                {{!-- <td class="td td3">Tax</td>
                <td class="td td2 align-right">$0.00</td> --}}
            {{!-- </tr> --}}
            {{!-- <tr>
                <td colspan="3" class="td5">
                    <div class="points">
                        <small>2. {{terms2}}</small>
                      
                    </div>
                </td>
                {{!-- <td class="td td3">Grand Total</td>
                {{!-- <td class="td td2 align-right">${{'%0.2f' %(items | sum(attribute='total')) }}</td> --}}
            {{!-- </tr>  --}}
        {{!-- </table>  --}}

			{{content}}

            <div class="card shadow-lg p-2 mb-0 bg-white rounded table">
            <div class="card-body">
             {{!-- Table Content --}}
             <div class="table-responsive">
            <table class="table table-success table-striped table-bordered">
             <thead>
          
                <tr>
                <th scope="col">#</th>
                <th scope="col">Items</th>
                <th scope="col">Quantity</th>
                <th scope="col">Invoice Number</th>
                <th scope="col">Total Price(#)</th>
                <th scope="col">Vendors Name </th>
                <th scope="col">Date Supplied</th>
               
                </tr>
            </thead>
            <tbody>
				
            {{#each  data}}
                <tr>
                <th scope="row">{{increment @index}}</th>
                <td>{{items}}</td>
                <td>{{stock_in}}</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>{{vendorsname}}</td>
                <td width="40px">{{formatDate updatedAt}}</td>
                </tr>
                  {{/each}}
           
             </tbody>
            </table>
            </div>
            </div>
            </div>



        <div class="accept">
            To accept this quotation. Please sign here and return
            ___________________
        </div>

      
        <footer>
            Thank you for your business!
        </footer>
    </div>